.card {
  border-radius: 16px;
  background: var(--secondary-background);
  padding: 20px;
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--border);
}

@media (min-width: 640px) {
  .card {
    padding: 32px;
  }
}

